{% extends 'base.html' %}

{%block title %}Novo Veículo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Criar Novo Veículo</h2>
    <form action="/veiculo/novo/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_marca" class="form-label">Marca</label>
            {{ form.marca }}
        </div>
        <div class="mb-3">
            <label for="id_modelo" class="form-label">Modelo</label>
            {{ form.modelo }}
        </div>
        <div class="mb-3">
            <label for="id_ano" class="form-label">Ano</label>
            {{ form.ano }}
        </div>
        <div class="mb-3">
            <label for="id_cor" class="form-label">Cor</label>
            {{ form.cor }}
        </div>
        <div class="mb-3">
            <label for="id_combustivel" class="form-label">Combustível</label>
            {{ form.combustivel}}
        </div>
        <div class="mb-3"> 
            <label for="id_foto" class="form-label">Foto</label>
            {{ form.foto}}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}